.deps/
.libs/
*~
*.o
*.lo
*.la
Makefile
Makefile.in
/config.h
/config.h.in
/aclocal.m4
/ar-lib
/src/astrognome
/ltmain.sh
/autom4te.cache/
/m4/
/missing
/stamp-h1
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/compile
/po/POTFILES
/po/Makevars.template
/po/Makefile.in.in
/po/stamp-it
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
