.deps/
.libs/
*~
*.o
*.lo
*.la
*.bak
.*.sw?
Makefile
Makefile.in
/config.h
/config.h.in
/aclocal.m4
/ar-lib
/src/astrognome
/ltmain.sh
/autom4te.cache/
/m4/
/missing
/stamp-h1
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/compile
/tags
/po/POTFILES
/po/Makevars.template
/po/Makefile.in.in
/po/stamp-it
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin

#Documentation related files
/docs/reference/*/*.args
/docs/reference/*/*.hierarchy
/docs/reference/*/*.interfaces
/docs/reference/*/*.prerequisites
/docs/reference/*/*.signals
/docs/reference/*/*.stamp
/docs/reference/*/*.types
/docs/reference/*/*-decl-list.txt
/docs/reference/*/*-decl.txt
/docs/reference/*/*-overrides.txt
/docs/reference/*/*-undeclared.txt
/docs/reference/*/*-docs.xml
/docs/reference/*/*-sections.txt
/docs/reference/*/*-undocumented.txt
/docs/reference/*/*-unused.txt
/docs/reference/*/xml/
/docs/reference/*/html/
/gtk-doc.make
