circle.thick {
    fill: none;
    stroke-width: 2.5;
    stroke: #0000cc;
}

circle.thin {
    fill: none;
    stroke-width: 1;
    stroke: #0000cc;
}

line.degree-thick {
    stroke-width: 2;
    stroke: #0000cc;
}

line.degree-thin {
    stroke-width: 1;
    stroke: #0000cc;
}

line.house-cusp {
    stroke-width: 1;
    stroke: #0000cc;
}

.sign {
    stroke-width: 2;
    stroke-linecap: butt;
    stroke-linejoin: bevel;
}

.sign-fire {
    fill: none;
    stroke: #cc2222;
}

.sign-earth {
    fill: none;
    stroke: #22cc22;
}

.sign-air {
    fill: none;
    stroke: #cccc22;
}

.sign-water {
    fill: none;
    stroke: #2222cc;
}

line.axis {
    stroke-width: 3;
    stroke: #000000;
}

line.axis-end {
    marker-start: url(#arrow_end);
}

line.planet-marker {
    stroke-width: 1.5;
    stroke: #555555;
}

.planet-symbol {
    stroke-width: 2;
    fill: none;
    stroke: #000080;
}

line.aspect {
    stroke-width: 1;
    stroke: #000000;
    stroke-dasharray: 1,2;
}

line.aspect-conjuction {
    stroke-width: 5;
    stroke: #00cc00;
    stroke-opacity: 0.5;
}

line.aspect-sextile {
    stroke-width: 1
    stroke: #00cc00;
    stroke-dasharray: none;
}

line.aspect-square {
    stroke: #c00000;
    stroke-dasharray: none;
}

line.aspect-trine {
    stroke: #000080;
    stroke-dasharray: none;
}

line.aspect-opposition {
    stroke: #c00000;
    stroke-dasharray: 5,5;
}

line.aspect-semisextile {
    stroke: #00cc00;
}

line.aspect-semisquare {
    stroke: #cc0000;
    stroke-dasharray: 9,3;
}

line.aspect-quintile {
    stroke: #00cc00;
    stroke-dasharray: 9,3;
}

line.aspect-sesquisquare {
}

line.aspect-biquintile {
    stroke: #00cc00;
}

line.aspect-quincunx {
    stroke: #cc0000;
}
